<div id="subscribe-modal" class="modal fade"
     tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action='/sns/subscriptions' method='post'>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="subscribe-topic" name="subscribe[topic]">
                            <option selected>Please select a topic</option>
                            <% topics.each do |topic| %>
                                <option value="<%= topic %>">
                                    <%= topic.capitalize %>
                                </option>
                            <% end %>
                        </select>
                        <label for="publish-topic">Select topic*</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
